* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #102037;
    overflow: hidden;
}

@-webkit-keyframes snow {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(650px);
    }
}

@-moz-keyframes snow {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(650px);
    }
}

@keyframes snow {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(650px);
    }
}


.box-of-star1,
.box-of-star2,
.box-of-star3,
.box-of-star4 {
    width: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
    transform: translateY(650px);
}

.box-of-star1 {
    -webkit-animation: snow 5s linear infinite;
}

.box-of-star2 {
    -webkit-animation: snow 5s -1.64s linear infinite;
}

.box-of-star3 {
    -webkit-animation: snow 5s -2.30s linear infinite;
}

.box-of-star4 {
    -webkit-animation: snow 5s -3.30s linear infinite;
}

.star {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    opacity: .7;
}

.star:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    top: 40px;
    left: 70px;
    opacity: .7;
}

.star:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    top: 8px;
    left: 170px;
    opacity: .9;
}

.star-position1 {
    top: 30px;
    left: 20px;
}

.star-position2 {
    top: 110px;
    left: 250px;
}

.star-position3 {
    top: 60px;
    left: 570px;
}

.star-position4 {
    top: 120px;
    left: 900px;
}

.star-position5 {
    top: 20px;
    left: 1120px;
}

.star-position6 {
    top: 90px;
    left: 1280px;
}

.star-position7 {
    top: 30px;
    left: 1480px;
}

.rocket-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rocket {
    position: relative;
    animation: animate 0.1s ease infinite;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
}

.rocket::before {
    content: "";
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 200px;
    background: linear-gradient( #4f46e5, transparent);
}

.rocket::after {
    content: "";
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 200px;
    background: linear-gradient( #4f46e5, transparent);
    filter: blur(20px);
}


.astro{
    position: relative;;
    transform: rotate(-30deg);
  
}
.an{
    animation-name: flo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
    bottom: 80px;
    left:20px;
  
  }
  @keyframes flo{
    50%{
      transform: translateY(30px);
    }
  }
  .tank{
    background-color: #a6a6a6;
    height:120px;
    width:120px;
    border-radius: 10px;
    position: relative;
    right:58px;
    bottom:-200px;
    transform: rotate(-30deg);
  }
  .helmet{
    background-color: white;
    height:93px;
    width:100px;
    border-radius:45%;
    position: relative;
    left:20px;
    z-index: 5;
  }
  .glass{
    background-color: #666666;
    height:60px;
    width:80px;
    border-top-left-radius:60%;
    border-top-right-radius:60%;
    border-bottom-left-radius:40%;
    border-bottom-right-radius:40%;
    position: relative;
    left:10px;
    top:7px;
  }
  .shine{
    background-color: rgba(166, 166, 166,0.7);
    height:15px;
    width:15px;
    border-radius: 50%;
    position: relative;
    left:10px;
    top:15px;
  }
  .dress{
    background-color:#f2f2f2;
    height:100px;
    width: 100px;
    border-radius: 10%; 
    position: relative;
    bottom:5px;
    left:20px;
  
  }
  .handr{
    height: 26px;
    width:75px;
    background-color: #f2f2f2;
    border-radius:40px;
    position: relative;
    bottom:138px;
    left:95px;
    transform: rotate(-20deg);
  }
  .handl{
    height: 26px;
    width:75px;
    background-color: #f2f2f2;
    border-radius:40px;
    position: relative;
    bottom:111px;
    right:29px;
    transform: rotate(20deg);
  }
  .handr1{
    height: 26px;
    width:57px;
    background-color: #f2f2f2;
    border-radius:26px;
    position: relative;
    bottom: 18px;
    left:35px;
    transform: rotate(90deg);
  }
  .handl1{
    height: 26px;
    width:57px;
    background-color: #f2f2f2;
    border-radius:26px;
    position: relative;
    bottom: 17px;
    right:17px;
    transform: rotate(-90deg);
  }
  .glover{
    height:28px;
    width:26px;
    background-color: white;
    border-top-left-radius:50%; 
    border-top-right-radius:50%;
    transform: rotate(-90deg);
    position: relative;
    bottom: 1px;
    right:16px;
  }
  .glovel{
    height:28px;
    width:26px;
    background-color: white;
    border-top-left-radius:50%; 
    border-top-right-radius:50%;
    transform: rotate(90deg);
    position: relative;
    bottom: 1px;
    left:42px;
  }
  .thumbr{
    height: 10px;
    width:10px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    right:7px;
    top:19px;
  }
  .thumbl{
    height: 10px;
    width:10px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    left:21px;
    top:19px;
  }
  .b1{
    background-color: tomato;
    width:28px;
    height:5.5px;
    border-radius:13px;
    position: relative;
    top:18px;
    right: 1px;
  }
  .b2{
    background-color: tomato;
    width:28px;
    height:5.5px;
    border-radius:13px;
    position: relative;
    top:18px;
    right: 1px;
  }
  .c{
    background-color: white;
    width:55px;
    height:30px;
    border-radius:8px;
    position: relative;
    top:25px;
    left:23px;
  }
  .btn1{
    height:12px;
    width: 12px;
    border-radius: 50%;
    background-color: #16244f;
    position: relative;
    left:5px;
    top:10px;
  }
  .btn2{
    height:12px;
    width: 12px;
    border-radius: 50%;
    background-color: #ffd147;
    position: relative;
    left:21px;
    bottom:2px;
  }
  .btn3{
    height:12px;
    width: 12px;
    border-radius: 50%;
    background-color: tomato;
    position: relative;
    bottom:14px;
    left:38px;
  }
  .btn4{
    height:20px;
    width:20px;
    border-radius: 50%;
    background-color: #a6a6a6;
    position: relative;
    left:19px;
    top:4px;
  }
  
  .legl{
    height:100px;
    width:40px;
    background-color: #f2f2f2;
    position: relative;
    bottom: 68px;
    left:5px;
    transform: rotate(20deg);
  }
  .legr{
    height:100px;
    width:40px;
    background-color: #f2f2f2;
    position: relative;
    bottom: 168px;
    left:96px;
    transform: rotate(-20deg);
  }
  .bootl1{
    background-color: white;
    width: 43px;
    height:35px;
    border-top-left-radius: 50%;
    border-top-right-radius:50%;
    position: relative;
    top:65px;
    right:1.5px;
  }
  .bootr1{
    background-color: white;
    width: 43px;
    height:35px;
    border-top-left-radius: 50%;
    border-top-right-radius:50%;
    position: relative;
    top:65px;
    right:1.5px;
  }
  .bootl2{
    background-color: tomato;
    width:45px;
    height: 5px;
    border-radius:21px;
    position: relative;
    top:30px;
    right: 1.5px;
  }
  .bootr2{
    background-color: tomato;
    width:45px;
    height: 5px;
    border-radius:21px;
    position: relative;
    top:30px;
    right: 1.5px;
  }
  .pipe{
    background-color:  transparent;
    height:80px;
    width:80px;
    border:10px solid #f52e2e;
    border-radius:40px 0px 0px 70px;
    border-right: none;
    transform: rotate(180deg);
    position: relative;
    bottom: 330px;
    left:130px;
  }
  .pipe2{
    background-color:  transparent;
    height:90px;
    width:42px;
    border:10px solid #f52e2e;
    border-radius:40px 0px 0px 0px;
    border-right: none;
    transform: rotate(90deg);
    position: relative;
    border-bottom: none;
    left:67px;
    bottom:34px;
  
  }
  .pipe3{
    height:10px;
    width: 10px;
    background-color: #4775ff;
    position: relative;
    border-radius: 65%;
    bottom:10px;
    left:37px;
  }
