.app-container-principal {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.app-container-left {
  width: 15%;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.app-container-right {
  width: 85%;
  height: 100%;
}